
body {
    font-family: Monserrat, sans-serif;
    margin: 0;
    padding: 0;
   background: #7da0b3;
}
a{
  text-decoration: none;
  color: #fff;
}
.separator{
  margin: auto;
  height: 10px;
  width: 190px;
  background: #333;
}
.btn{
  display:inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.btn-primary{
  background: rgb(43, 118, 141);
  color:#dae2e7;
}
.btn-primary:hover{
  background: rgb(204, 217, 226);
  color:rgb(74, 111, 167);
}
.btn-dark{
  background: #222;
  color:white;
}
.btn-dark:hover{
  background:white;
  color:#222;
  border: 1px solid #222;
}
.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.container{
  max-width: 1000px;
  display: block;
  margin: auto; 
}
.chip{
  display:inline-block;
  width: 30px;
  border-radius: 100%;
  background: #333;
  color:white;
  text-align: center;
}
.chip-purple{
  background: #be418c;
}
.chip-brown{
  background: #8c5e24;
}
/*header*/
.header{
  height: 85px;
  background: #333
}  
nav{
  display: flex;
  justify-content: space-between;
} 
.logo-img{
  width:180px;
  height: 80px;
}
.header nav ul{
  margin-top: 0;
  margin-bottom: 0;
  display:flex;
  list-style: none;
  padding: 0;
}
.header nav ul li {
  padding:  2rem ;
}

.header nav ul :hover{
background: #444446;
}
/*vp*/
.vp{
  height: 700px;
  background: url(../images/hack0.jpg)  center center;
  background-size: cover;
  text-align: center;
}
.vp-content{
  max-width: 500px;
  padding: 20px;
  padding-top: 70px;
  color: rgb(41, 54, 59);
  margin: 0 auto;
  display: block;
}
.vp-content p{
  text-align: justify;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}
.vp-content h1{
  font-size: 3rem;
}
/*FEATURES*/
.features{
  overflow: auto;
  padding: 100px 20px ;
  text-align: center;
}
.feature{
  float: left;
  width: 50%;
}
/*person*/
.person{
  height: 500px;
  background: url(../images/hack1.avif) center center/cover;
}
/*Reservation*/
.reservation{
  padding: 100px 0;
  text-align: center;
}
/*Footer*/
footer{
  background: #222;
  color:white;
  padding: 30px 0;
  text-align: center;
}
footer p{
  margin: 0;
}
